.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.end {
  flex-basis: 100%;
}

.more {
  flex-basis: 100%;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid transparent
}

.btn:hover {
  background-color: var(--blue);
}

.btn:focus {
  border-color: var(--blue);
}

.btn:active {
  background-color: var(--green);
  border-color: var(--green);
}
